.MuiAppBar-colorPrimary{
    background-color: rgb(154, 98, 207) !important;
}

.MuiListItem-button:hover{
    background-color: #c6aae091 !important;
    border-radius: 30px;
}

.makeStyles-drawerOpen-9{
    background-color: #e6e2ea91 !important;
}
.MuiPaper-elevation0{
    background-color: #e6e2ea91 !important;
}

.MuiToolbar-root{
   justify-content: space-between;
}

.MuiButton-containedPrimary{
    background-color:#602f8edc !important ;
}

.MuiButton-containedPrimary:hover{
    background-color:#784ca1dc !important ;
}

.login_a{
    text-decoration: none;
}

.notification_icon{
    font-size: 2.5rem !important;
}

.center_heading{
    display: flex;
    width:500px;

    align-items: center;
    justify-content: space-around;
}

.right_nav{

    width:175px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.MuiFab-primary
{
    background-color: #602f8edc !important;
    
}

.MuiFab-primary:hover{
    background-color: #784ca1dc !important;
}

.MuiFab-root{
    
    width:45px !important;
    height:45px !important;
}