.makeStyles-root-18 {
    width: 82rem !important;
    margin: auto;
    
    /* position: absolute; */
    /* left: 10%; */
    /* top: 33%; */
}

.MuiAccordion-root.Mui-expanded {
    margin: 0px !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #9a62cf !important   ;
}



.MuiAccordion-rounded:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%) !important;
    background-color: #d7c5e95a;
    z-index: 2 !important;
}



.MuiTypography-root .MuiFormControlLabel-label .MuiTypography-body1
{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}