.notice_box{
    position: relative;
    width:82rem !important;
    min-height:500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    top:25%;
    overflow: auto;
    left:10%;
}

.notice_box_updation{
    width:82rem;
    height:3rem;
}

.accordian_box{
    overflow: auto;
}

