.notice_main{
    position:absolute;
    top:13%;
    left:10%;
}

.MuiTabs-root{
    width:82rem !important;
}

.MuiTabs-centered{
    width:85remm !important;
 /* justify-content: space-around !important; */
}

.sector{
    width:35rem !important;
}
.MuiTab-root{
    min-width:437px !important;
}

.MuiTab-wrapper{
    font-size: 1.2rem;
    font-weight: bold;
}

.MuiTab-textColorPrimary.Mui-selected{
    color: #602f8edc !important;
}

.PrivateTabIndicator-colorPrimary-15{
    background-color: #602f8edc !important;
}
.PrivateTabIndicator-colorPrimary-20 {
    background-color: #602f8edc;
}