.notice_box{
    position:absolute;
    width:82rem !important;
    min-height:500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    top:22%;
    overflow: auto;
    left:10%;
    overflow: auto;
}

.notice_box_updation{
    width:82rem;
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #bea2d960;
}

.accordian_box{
    height:508px;
   
    overflow: auto;
}

.accordian_box::-webkit-scrollbar {
    width: 0.8em;
  }
   
  .accordian_box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(158, 158, 158, 0.3);
  }
   
  .accordian_box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /* outline: 1px solid slategrey; */
    border-radius: 10px;
  }


  .arrow_notifier{
    color:grey;
    margin-left:20px;
  }

  .notice_left{
    display: flex;
    width:200px;
    justify-content: space-between;
    align-items: center;
  }

  .notice_right{
    display: flex;
    margin-right:20px;
    width:120px;
    justify-content: space-between;
    align-items: center;
  }
 
  .notice_left h3{
    color:grey;
  }

  .right_icon{
    color:grey;
    
  }

  .right_icon:hover{
    color:black;
    cursor: pointer;
  }
