.add-Notice-box{
    width: 100%;
    z-index: 10000;
    height: 100vh;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.678);
}